// IMPORT FONTS
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300&display=swap"); // scss Varaibles
$primaryColor: #bcae00; //rgb(188, 174, 0);
$secondaryColor: #254c0c; //rgb(37, 76, 12);
$deepGreen: #272502; //rgb(37, 76, 12);
$orangeColor: #ffbf43; // rgb(255, 191, 67);
$blackColor: #202020; //rgb(32, 32, 32);
$white: #ffffff;
$greyColor: #c4c4c4;
$starRatingColor: #ffc107;
$lightColor: #c4c4c4;
$infoColor: #17a2b8;
$fontFamily: "Roboto",
sans-serif;
$fullWidth: 100%;
$halfWidth: 50%;
// Variables from old style
$grey_color: #e5e5e5;
$white_color: #ffffff;
$lemon_color: #bcae00;
$lemon_color_hoverState: #98ac31;
$black_color: #2d2d2d;
$deepGreen_color: #1f3200;
$yellow_color: #ffbf43;
$danger_color: #dc3545;
$light_pink_color: rgb(255,
232,
231);
*,
*:after,
*:before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {}

body {
    font-size: 0.875rem;
}

// TYPOGRAPHY
h1,
h2,
h3,
h4,
h5,
h6,
p {
    line-height: 20px;
}

@media(min-width: 500px) {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
        line-height: 23px;
    }
}

li {
    line-height: 25px;
}

.capitalize {
    text-transform: capitalize;
}

.lowercase {
    text-transform: lowercase;
}

.uppercase {
    text-transform: uppercase;
}

.display_1 {
    font-size: 1.3rem;
}

.display_2 {
    font-size: 1.6rem;
}

.display_3 {
    font-size: 1.9rem;
}

// GLOBAL
.fontawesome::before,
.fontawesome::after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
}

.text_decorate_0 {
    cursor: pointer;
    &:hover {
        text-decoration: none;
    }
}

.list_style_0 {
    li {
        list-style: none;
    }
}

input[type="text"],
input[type="password"],
input[type="number"],
input[type="email"],
input[type="date"],
input[type="time"],
input[type="file"],
// .custom-file,
.custom-file-input,
.custom-file-label,
textarea,
select {
    border-radius: 0;
    border: 1px solid $lightColor;
    padding: 0.5em 0.6em;
    &:focus {
        outline: 0;
        box-shadow: none;
        border: 1px solid $primaryColor;
    }
    &::placeholder {
        font-family: $fontFamily;
    }
    &::-webkit-input-placeholder {
        /* Edge */
        font-family: $fontFamily;
    }
    &:-ms-input-placeholder {
        /* Internet Explorer 10-11 */
        font-family: $fontFamily;
    }
}

// Custom form select dropdown
select {
    /* remove default style from browsers */
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    option {
        margin: 5em;
        line-height: 2;
        font: inherit;
    }
    &::after {
        content: "hhhhh";
    }
}


/*Custom form select dropdown*/

// select.custom-select {
//     /* remove default style from browsers */
//     background-image: unset; //removing bootstrap icon image
//     -webkit-appearance: none;
//     -moz-appearance: none;
//     -ms-appearance: none;
//     -o-appearance: none;
//     appearance: none;
//     option {
//         margin: 5em;
//         line-height: 2;
//         font: inherit;
//     }
//     &::after {
//         content: "hhhhh";
//     }
// }
.select_drop_wrapper {
    position: relative;
    &::after {
        font-family: "Font Awesome 5 Free";
        content: "\f0dd";
        font-weight: 900;
        font-size: 20px;
        position: absolute;
        right: 0.5rem;
        color: $primaryColor;
        pointer-events: none;
        bottom: 0.34em;
    }
}

.check {
    position: absolute;
    opacity: 0;
    top: -1000000px;
    ~label {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        cursor: pointer;
        margin: 0;
        >.custom_check {
            --size: 1.2em;
            width: var(--size);
            height: var(--size);
            // cursor: pointer;
            border: 0.6px solid $primaryColor;
            border-radius: 3px;
            transform: scale(1);
            transition: transform 300ms ease-in-out;
            display: grid;
            place-content: center;
            margin-right: 1em;
        }
    }
    &[type="checkbox"]:checked+label .custom_check {
        background: $primaryColor;
        &::before {
            content: "\f00c";
            color: $white;
            font-family: "Font Awesome 5 Free";
            font-weight: 900;
            font-size: 0.6rem;
        }
    }
}

.btn {
    transition: all 300ms ease-in-out;
    &:focus {
        box-shadow: none;
    }
}


/* Hide Arrows From Input Number Chrome, Safari, Edge, Opera */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


/* Hide Arrows From Input Number Firefox */

input[type="number"] {
    -moz-appearance: textfield;
}

// COLORS
.bg_primary {
    background-color: $primaryColor;
}

.bg_secondary {
    background-color: $secondaryColor;
}

.bg_orange {
    background-color: $orangeColor;
}

.bg_secondaryDark {
    background-color: $deepGreen;
}

.text_primary {
    color: $primaryColor;
}

.text_secondary {
    color: $secondaryColor;
}

.text_orange {
    color: $orangeColor;
}

.text_secondaryDark {
    color: $deepGreen;
}

.text_light {
    color: $lightColor;
}

.rating.poor {
    color: #fe5f55;
}

.rating.fair {
    color: #ffbf43;
}

.rating.good {
    color: #31bc00;
}

.rotate_45 {
    transform: rotate(45deg);
}

.link_primary {
    color: $primaryColor;
    transition: all 300ms ease-in-out;
    &:hover,
    &:focus {
        color: $secondaryColor;
        text-decoration: none;
    }
}

// COMPONENTS
.dropdown-item:hover {
    color: #16181b;
    text-decoration: none;
    background-color: $primaryColor;
    color: $white;
}

.item_img_nav {
    width: 100px;
}


/*  breadcrumbs  */

ul.breadcrumb {
    padding: 10px 0;
    list-style: none;
    background-color: unset;
}

ul.breadcrumb li {
    display: inline;
    font-size: 18px;
    text-transform: uppercase;
    font-size: 0.9rem;
}

ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

ul.breadcrumb li a {
    color: $deepGreen;
    text-decoration: none;
    font-weight: bold;
    transition: all 300ms ease-in-out;
}

ul.breadcrumb li a:hover {
    color: $primaryColor;
}

// ######## custom scollbar
::-webkit-scrollbar {
    width: 7px;
    height: 3px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: $primaryColor;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: $secondaryColor;
} // ########### custom scrollbar ends

/* mobile mavigation  */

:root {
    width: 100%;
}

#categories_tab_toggler,
.btn.text_primary#categories_tab_toggler_lg {
    &:focus,
    &:hover {
        color: $white;
    }
}

#main_category_container {
    transition: all 300ms ease-in-out;
    position: absolute;
    width: 100%;
    z-index: 1021;
    transform: scaleY(1);
    transform-origin: top;
    &.hide {
        transform: scaleY(0);
        transform-origin: top;
    }
    .side_nav_tab {
        position: relative;
        background-color: $white;
        background-image: url("../assets//images//sample-prod.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: auto;
        .category_list {
            padding: 0.6em;
            cursor: pointer;
            &:hover {
                z-index: 2;
                margin: 0;
                box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
            }
            .sidenav_subList {
                position: absolute;
                width: 82%;
                height: 100%;
                padding: 1em;
                right: 0;
                top: 0;
                bottom: 0;
                left: -100%;
                transition: opacity 500ms ease-in-out;
                background-color: #ffffff;
                border: 1px solid #ccc;
                overflow-y: auto;
            }
            .sidenav_subList li {
                // list-style-type: disc;
                line-height: 25px;
            }
            .sidenav_subList li a {
                font-size: 0.8rem;
                text-decoration: none;
                color: #202020;
                transition: all 300ms ease-in-out;
                &:hover {
                    color: $primaryColor;
                }
            }
            &:hover>.sidenav_subList {
                left: 20%;
            }
        }
    }
}

#sidenav_main_container #overlay {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    height: 100vh;
    width: 100%;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 10000;
    transition: all 300ms ease-in-out;
    &.hide {
        left: -100%;
    }
}

#inner {
    height: 100%;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    max-width: 300px;
    z-index: 10001;
    transition: all 300ms ease-in-out;
    .sidenav_content {
        // width: 600%; width now set with javascript to make it dynamic
        display: flex;
        margin-left: 0;
        transition: all 300ms ease-in-out;
        >div {
            width: calc(100% / 5);
            transition: all 300ms ease-in-out;
            .category_scroll_y {
                height: 400px;
                overflow-y: auto;
                padding: 0.2em 0.4em;
                li {
                    padding-bottom: 0.3em;
                    a {
                        text-decoration: none;
                        color: $blackColor;
                        &:hover,
                        &:focus {
                            color: $primaryColor;
                        }
                    }
                }
            }
            .nav_tab {
                &#main_category_list {
                    position: relative;
                }
                &>.category_list {
                    padding: 0.5em 0;
                    transition: all 300ms ease-in-out;
                    cursor: pointer;
                    &:hover {
                        background-color: beige;
                        padding: 0.5em;
                    }
                    &::after {
                        content: "\f054";
                        font-family: "Font Awesome 5 Free";
                        font-weight: 600;
                        position: absolute;
                        right: 2em;
                    }
                }
            }
        }
    }
    &.hide {
        left: -100%;
        transition: left 300ms ease-in-out;
    }
}

/*.hero_slider{
   .item{

    height: 300px;
         background-color: red;

  }
   }*/

.form-control {
    padding: 0.75rem 1rem;
    border-width: 0;
    border-radius: 0;
    &:focus {
        box-shadow: none;
    }
}

.btn_white {
    background-color: $white;
    transition: all 300ms ease-in-out;
    color: $lemon_color;
    &:hover,
    &:focus {
        background-color: rgba(255, 255, 255, 0.7);
        background-color: $orangeColor;
        color: $white;
    }
}

.btn_primary {
    background-color: $primaryColor;
    color: $white;
    transition: all 250ms ease-in-out;
    &:hover,
    &:focus {
        background-color: $orangeColor;
        color: $white;
    }
}

.primary_border{
    border: 1px solid $primaryColor;
}

.accordion,
.card-header {
    background-color: $white;
    .btn-link {
        color: $primaryColor;
    }
}

.btn_light_pink {
    background-color: #ffe8e7;
    &:hover,
    &:focus {
        background-color: #ffbf43;
    }
}

.light_pink_bt .prod_listing {
    .head {
        padding-right: 0.5em;
        padding-left: 0.5em;
        .title {
            margin: 0;
            text-transform: uppercase;
        }
    }
}

.product_card {
    a {
        text-decoration: none;
        color: $blackColor;
    }
    .price_rating_tag {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }
    .price {
        font-weight: 500;
        font-size: 1.3rem;
    }
}

.prod_list_slider_wrapper {
    position: relative;
    .custom_nav_wrapper {
        display: flex;
        justify-content: space-between;
        position: absolute;
        width: 100%;
        right: 0;
        left: 0;
        bottom: 45%;
        z-index: 2;
        button {
            background-color: rgba(188, 174, 0, 0.2);
            height: 50px;
            width: 50px;
            border-radius: 50%;
            color: #ffffff;
            transition: all 300ms ease-in-out;
            &:hover {
                background-color: rgba(188, 174, 0, 0.8);
            }
        }
    }
}

.pagination {
    .page-item a {
        color: $blackColor;
    }
    .page-item:last-child .page-link {
        border-top-right-radius: 0.25rem;
        border-bottom-right-radius: 0.25rem;
        &.more {
            background-color: $primaryColor;
            color: $white;
            border-color: $primaryColor;
        }
    }
}

.sponsor_logos {
    // display: flex;
    // justify-content: space-between;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-gap: 20px;
    li {
        div {
            height: 60px;
        }
    }
}

.coffee_bg {
    background-image: url(../assets/images/cup-coffee-png-spilling-coffee-transparent-png.png);
    /*background-size: cover;*/
    background-position: right;
    background-repeat: no-repeat;
}

.add_cards_wrapper {
    .card {
        height: 200px;
    }
}

.navbar {
    .form-control {
        padding: 0.75rem 1rem;
        border-width: 0;
        border-radius: 0;
    }
}

.form-control-dark {
    color: #fff;
    background-color: rgba(255, 255, 255, 0.1);
    border-color: rgba(255, 255, 255, 0.1);
}

.navbar-brand {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    font-size: 1rem;
}

.star_ratings {
    .fas,
    .far {
        color: $starRatingColor;
    }
}

.itm_price {
    font-weight: 600;
    font-size: 1.3rem;
}

// custom checkbox
.check_rej {
    position: absolute;
    opacity: 0;
    ~label {
        display: flex;
        cursor: pointer;
        .custom_checkbox {
            --size: 1.5em;
            width: var(--size);
            height: var(--size);
            margin-right: var(--size);
            cursor: pointer;
            border: 0.6px solid $grey_color;
            box-shadow: inset 0 0 0 3px $white_color;
            background-color: $grey_color;
            border-radius: 3px;
            transform: scale(1);
            transition: transform 300ms ease-in-out;
            display: grid;
            place-content: center;
        }
    }
}

.check_rej[type="checkbox"]:checked+label .custom_checkbox,
.check_rej[type="checkbox"]:focus+label .custom_checkbox {
    background: $lemon_color;
    &::after {
        content: "\f00c";
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        font-size: 0.8rem;
        color: $white;
    }
}

// custom radio
.radio_rej {
    position: absolute;
    opacity: 0;
    ~label {
        display: flex;
        cursor: pointer;
    }
}

.custom_radio {
    --size: 1.5em;
    width: var(--size);
    height: var(--size);
    margin-right: var(--size);
    cursor: pointer;
    border: 0.6px solid $grey_color;
    box-shadow: inset 0 0 0 5px $white_color;
    background-color: $grey_color;
    border-radius: 50%;
    transform: scale(1);
    transition: trsubmergeansform 300ms ease-in-out;
    display: grid;
    place-content: center;
}

.radio_rej[type="radio"]:checked+label .custom_radio,
.radio_rej[type="radio"]:focus+label .custom_radio {
    background: $lemon_color;
}

// form
form {
    display: block;
    .form_control_wrapper {
        position: relative;
        >input {
            display: block;
            width: 100%;
        }
        >label {
            display: block;
            bottom: unset;
            transition: all 300ms ease-in-out;
            -moz-transition: all 300ms ease-in-out;
            -o-transition: all 300ms ease-in-out;
            -webkit-transition: all 300ms ease-in-out;
            &.submerge {
                position: absolute;
                bottom: 0;
                left: 0.4em;
                transition: all 300ms ease-in-out;
                -moz-transition: all 300ms ease-in-out;
                -o-transition: all 300ms ease-in-out;
                -webkit-transition: all 300ms ease-in-out;
            }
        }
    }
    // 
    .form_wrapper {
        position: relative;
        border: 1px solid $greyColor;
        .form-control {
            border: 0;
            padding-top: 1em;
            transition: all .3s ease-in-out;
        }
        label {
            position: absolute;
            bottom: auto;
            top: 0;
            left: 0.6em;
            font-size: .6rem;
            color: $primaryColor;
            transition: all .3s ease-in-out;
        }
        &.sit {
            label {
                top: unset;
                bottom: 0;
                font-size: .89rem;
                color: $blackColor;
            }
            .form-control {
                padding-top: 0;
            }
        }
    }
}


/* PAGES */

#verified_products_page {
    .page_title {
        font-size: 1.5rem;
        text-transform: uppercase;
    }
    .filter_form {
        .select_drop_wrapper {
            width: 150px;
            display: inline-block;
        }
    }
    .form_clear_btn {
        color: $lightColor;
        font-weight: 400;
        transition: all 300ms ease-in-out;
        &:hover {
            color: $primaryColor;
        }
    }
    #filter_nav {
        .filter_tab {
            cursor: pointer;
            &:hover>.filterToggler.dropNull::after {
                content: "\f0de";
                bottom: 0.4em;
                transition: all 300ms ease-in-out;
            }
        }
        .filter_tab:hover>.filter_dropdown {
            transform: scaleY(1);
            transform-origin: top;
            background-color: $white;
            box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
            border: none;
            // padding: .8em .5em;
        }
        .filter_dropdown {
            border: 1px solid #ccc;
            position: absolute;
            // width: 100%;
            transform: scaleY(0);
            transform-origin: top;
            transition: all 300ms ease-in-out;
            z-index: 4;
        }
        .filterToggler {
            position: relative;
            &::after {
                font-family: "Font Awesome 5 Free";
                font-weight: 900;
                position: absolute;
                bottom: 0.7em;
                right: 0.7em;
                color: $primaryColor;
            }
            &.recommend {
                &::after {
                    bottom: 0.7em;
                    right: -1em;
                }
            }
        }
        .filterToggler.dropNull::after {
            content: "\f0dd";
            transition: all 300ms ease-in-out;
        }
        .checkbox_form_grp {
            >label {
                cursor: pointer;
                color: $blackColor;
                transition: all 300ms ease-in-out;
            }
            >.lg_screen_product_sorter {
                position: absolute;
                margin-left: -1000000px;
                opacity: 0;
                &:checked+label {
                    color: $primaryColor;
                    font-weight: 600;
                }
            }
        }
    }
    #mobile_filter_form_wrapper {
        background-color: $white;
        position: fixed;
        z-index: 100000;
        top: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        transition: all 300ms ease-in-out;
        &.hide {
            left: -120%;
        }
        &.show {
            left: 0;
        }
    }
    #mobile_sort_form_wrapper {
        background-color: rgba(0, 0, 0, 0.5);
        position: fixed;
        z-index: 100000;
        top: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        transition: all 300ms ease-in-out;
        &.hide {
            left: -120%;
        }
        &.show {
            left: 0;
        }
        .star_ratings {
            .fas,
            .far {
                color: $starRatingColor;
            }
        }
        .inner_wrapper {
            position: absolute;
            bottom: 0;
            top: 0;
            left: 1em;
            right: 1em;
        }
    }
    @media(max-width: 352px) {
        #mobileFilterFormTriggerToShow,
        #mobileSortFormTriggerToShow {
            display: block;
            width: 100%;
            margin-bottom: 1em;
        }
    }
}

#product_details {
    .add_to_cart_btn,
    .add_to_wishlist_btn {
        width: 45%;
        padding-top: 0.7em;
        padding-bottom: 0.7em;
    }
    .add_to_cart_btn {
        &:hover {
            color: $white;
        }
    }
}

// Cart page
#user_cart {
    .heading_label {
        transform: scale(0);
    }
    .item_qty_wrapper {
        display: flex;
        align-items: center;
        button {
            width: 1.8rem;
            +div {
                width: 2.3rem;
            }
        }
    }
    .cart_item_btn {
        display: inline-block;
        width: 100px;
        background-color: unset;
        border-radius: 3px;
        padding-top: 0.4em;
        padding-bottom: 0.4em;
        margin-top: 0.5em;
        &.remove {
            color: $danger_color;
            border: 1px solid $danger_color;
        }
        &.save_item {
            color: $infoColor;
            border: 1px solid $infoColor;
        }
    }
    .initial_cal {
        color: $grey_color;
        font-size: 0.8rem;
    }
    .cart_summary_wrapper {
        .total_cost {
            font-weight: 600;
            margin-top: 1.5em;
            font-size: 1.4rem;
        }
        .info {
            opacity: 0.7;
            font-style: italic;
        }
    }
    .process_btn_wrapper {
        .process_btn {
            border-radius: 3px;
            display: block;
            width: 100%;
            &.process_checkout_btn {
                border: 1px solid $primaryColor;
            }
            &.continue_shopping_btn,
            &.process_checkout_btn {
                text-decoration: none;
            }
        }
    }
    .empty_cart_msg_wrapper {
        height: 70vh;
        .inner {
            max-width: 600px;
            margin: 0 auto;
        }
        .cart_icon_wrapper {
            position: relative;
            display: inline-block;
            color: #61585b;
        }
        .fa-shopping-cart {
            font-size: 3rem;
        }
        .plus_icon_wrapper {
            width: 30px;
            height: 30px;
            padding: 0.5em;
            position: absolute;
            transform: rotate(45deg);
            top: 0;
            right: 0;
            border-radius: 50%;
            display: grid;
            place-content: center;
        }
    }
}

// product_details page
#product_details {
    .add_to_cart_btn,
    .add_to_wishlist_btn {
        width: 45%;
        padding-top: 0.7em;
        padding-bottom: 0.7em;
    }
    .product-information-section {
        .nav-item {
            margin-right: 3em;
        }
        .nav-link {
            color: $deepGreen_color;
            font-size: 1.2rem;
            font-weight: 600;
            &.active {
                background-color: unset;
                color: $lemon_color;
            }
        }
    }
    .product_info_accordion {
        .card-header {
            background-color: white;
            .btn-link {
                text-decoration: none;
                color: $black_color;
            }
        }
        .description_btn_label {
            i {
                color: $lemon_color;
            }
        }
    }
    //
    .total_rating {
        font-weight: 500;
        font-size: 3.5rem;
    }
    .star_rating {
        color: $danger_color;
    }
    .rating_bar {
        background-color: #e5e5e5;
        display: block;
        width: 8rem;
        height: 0.4rem;
        margin-right: 0.7em;
        margin-left: 0.7em;
    }
    .rating_bar .rating_bar_inner#star_3 {
        width: 75%;
        height: 100%;
        background-color: #4bb1ea;
    }
    .rating_bar .rating_bar_inner#star_4 {
        width: 10%;
        height: 100%;
        background-color: #4bb1ea;
    }
    .rating_bar .rating_bar_inner#star_5 {
        width: 35%;
        height: 100%;
        background-color: #4bb1ea;
    }
    .star_label {
        color: #e5e5e5;
    }
    .star_label.voted {
        color: #4bb1ea;
    }
    .user_feedbacks_wrapper {
        list-style: none;
        padding: 0;
    }
    .user_feedback {
        display: flex;
        align-items: center;
    }
    .user_feedback>div {
        padding: 2em;
    }
    .user_avatar {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: $deepGreen_color;
        display: grid;
        place-content: center;
        color: $white_color;
        font-weight: 600;
    }
    //
}

// checkout_page
#checkout_page {
    .inner_wrapper {
        max-width: 700px;
        margin: 0 auto;
        .inner_wrapper {
            max-width: 700px;
            margin: 0 auto;
        }
        .title_wrapper {
            background-color: #c4c4c4;
            color: $white_color;
        }
        legend {
            font-size: 1rem;
        }
    }
    #seller_account_details {
        transition: all 200ms ease-in-out;
        transform-origin: top;
    }
    #seller_account_details.hide {
        position: absolute;
        right: 0;
        left: 0;
        transform: scaleY(0);
        opacity: 0;
    }
    #shipping_option_wrapper {
        .radio_rej {
            ~label {
                display: block !important;
            }
        }
    }
    #thank_you_message {
        height: 80vh;
        display: grid;
        place-content: center;
    }
}

// login_page & register_page
#login_page,
#register_page {
    .inner {
        max-width: 500px;
        margin: 0 auto;
        margin-top: 5em;
        margin-bottom: 3em;
        display: flex;
        align-items: center;
    }
}

// contact_us_page
#contact_us_page {
    .contact_option {
        border-right: 1px solid $greyColor;
    }
    #form_area {
        max-width: 700px;
        margin: 0 auto;
    }
}

// reset_password_page
#reset_password_page {
    font-size: 1rem;
    .inner {
        max-width: 500px;
        margin: 4em auto;
        height: 100vh;
    }
}

// user_account_page
#sidebar {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: all 300ms ease-in-out;
    bottom: 0;
    z-index: 1020;
    padding: 48px 0 0;
    padding: 3em;
    &.hide {
        left: -100%;
    }
    .nav-tab {
        li {
            line-height: 30px;
            a {
                color: #202020;
                transition: all 300ms ease-in-out;
                &:hover,
                &.active {
                    text-decoration: none;
                    color: $primaryColor;
                    font-weight: 600;
                }
            }
        }
    }
}

.main_area {
    flex-basis: 100%;
}

.item_row {
    .btn_action {
        width: 100%;
    }
}

@media (min-width: 800px) {
    .user_account {
        #sidebar {
            position: relative;
            // height: 100vh;
            background-color: #ffffff;
            width: 100%;
            // min-width: 300px;
            left: 0;
            padding: 0;
        }
        .main_area {
            flex-basis: calc(100% - 300px);
            display: block;
        }
    }
    .item_row {
        .btn_action {
            width: auto;
        }
    }
}

@media (max-width: 799px) {
    .user_account {
        #sidebar {
            .nav-tab {
                li {
                    display: flex;
                    justify-content: space-between;
                    &::after {
                        content: "\f054";
                        // content: "\f061";
                        font-family: "Font Awesome 5 Free";
                        font-weight: 900;
                    }
                }
            }
        }
    }
}

// user_order_page
#user_order_page {
    table {
        .order_number {
            min-width: 100px;
        }
        .date {
            min-width: 50px;
        }
        .ship_to {
            min-width: 150px;
        }
        .total_amount {
            min-width: 70px;
        }
        .status {
            min-width: 100px;
        }
        .details {
            min-width: 50px;
        }
    }
}


/* FOOTER */

footer {
    background-color: #24271f;
    color: $white;
    transition: all 300ms ease-in-out;
    .inner {
        max-width: 700px;
        margin: 0 auto;
    }
    ul {
        line-height: 30px;
    }
    li {
        a {
            color: $white;
            &:hover {
                text-decoration: none;
                color: $primaryColor;
            }
        }
        &.title {
            font-weight: 600;
        }
    }
    .media_link {}
    .copyright {
        /*width: 100%;*/
        text-align: center;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .copyright::after,
    .copyright::before {
        content: "";
        display: block;
        background-color: $white;
        height: 3px;
    }
    .copyright::after {
        width: 28%;
    }
    .copyright::before {
        width: 7%;
    }
}

@media (min-width: 700px) {
    #sidebar {
        z-index: 100;
    }
    footer {
        .copyright::after,
        .copyright::before {
            width: 38%;
        }
    }
}

@media (min-width: 771px) {
    #user_cart {
        .heading_label {
            transform: scale(1);
        }
        .cart_item_btn {
            display: flex;
            padding: 0;
            &.remove,
            &.save_item {
                border: none;
            }
        }
        .process_btn_wrapper {
            display: flex;
            align-items: center;
            .process_btn {
                width: auto;
                float: right;
                margin-left: 0.3em;
            }
        }
    }
    #user_review_page .review_star {
        font-size: 2rem;
        cursor: pointer;
    }
}

@media(max-width: 500px) {
    #HelpDropDown {
        left: -100%;
    }
    .cart_btn_wrapper {
        display: flex;
        button:nth-child(2) {
            margin-left: .5em;
        }
        .cart_item_btn {
            width: 100%;
        }
    }
    // contact_us_page
    #contact_us_page {
        .contact_option:nth-child(even) {
            border-right: none;
        }
    }
}

@media(max-width: 350px) {
    .item_cost {
        float: right;
    }
}