@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300&display=swap");
*,
*:after,
*:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  /*overflow-x: hidden;*/
}

body {
  font-size: 0.875rem;
  /*overflow-x: hidden;*/
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  line-height: 25px;
}

li {
  line-height: 25px;
}

.capitalize {
  text-transform: capitalize;
}

.lowercase {
  text-transform: lowercase;
}

.uppercase {
  text-transform: uppercase;
}

.display_1 {
  font-size: 1.3rem;
}

.display_2 {
  font-size: 1.6rem;
}

.display_3 {
  font-size: 1.9rem;
}

.bg_secondary {
  background-color: #272502;
}

.text_primary, .approved {
  color: #bcae00;
}

.btn_primary {
  background-color: #bcae00;
  color: #ffffff;
}
.btn_primary:hover, .btn_primary:focus {
  color: #ffffff;
  background-color: #ffbf43;
}

.btn_white {
  background-color: #ffffff;
  color: #272502;
  border: 1px solid #c4c4c4;
}
.btn_white:hover, .btn_white:focus {
  color: #ffffff;
  background-color: #ffbf43;
  border: #ffbf43;
}

.nav-pills .nav-item .nav_tab_btn {
  margin-bottom: 0.3em;
  margin-right: 0.5em;
}

.nav_tab_btn {
  background-color: #ffffff;
  color: #272502;
  border: 1px solid #c4c4c4;
  border-radius: 0 !important;
}
.nav_tab_btn.active {
  background-color: #bcae00 !important;
  border: 1px solid #ffffff;
}

.file_upload_wrapper {
  --size: 130px;
}
.file_upload_wrapper .file_btn_wrap {
  border: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.file_upload_wrapper #docFile, .file_upload_wrapper .docFile {
  position: absolute;
  opacity: 0;
}
.file_upload_wrapper .file_btn,
.file_upload_wrapper #pseudo_file, .file_upload_wrapper .pseudo_file {
  padding: 0.5em;
}
.file_upload_wrapper .file_btn {
  width: var(--size);
  background-color: #bcae00;
  border: 1px solid #bcae00;
  margin: 0;
  text-align: center;
  color: #ffffff;
}
.file_upload_wrapper #pseudo_file, .file_upload_wrapper .pseudo_file {
  margin: 0;
  height: 100%;
  width: calc(100% - var(--size));
}

.dropzone {
  min-height: 150px;
  border: 1px solid #ccc;
  background: white;
  padding: 20px 20px;
}

.pending {
  color: #c4c4c4;
}

.cancelled {
  color: #dc3545;
}

.approved, .cancelled, .pending, .delivered, .returned {
  text-transform: uppercase;
}

.delivered {
  color: #28a745;
}

.returned {
  color: #bcae00;
}

input[type=text],
input[type=password],
input[type=number],
input[type=email],
input[type=date],
input[type=time],
input[type=file],
.custom-file-input,
.custom-file-label,
textarea,
select.custom-select {
  border-radius: 0;
  border: 1px solid #c4c4c4;
  padding: 0.5em 0.6em;
}
input[type=text]:focus,
input[type=password]:focus,
input[type=number]:focus,
input[type=email]:focus,
input[type=date]:focus,
input[type=time]:focus,
input[type=file]:focus,
.custom-file-input:focus,
.custom-file-label:focus,
textarea:focus,
select.custom-select:focus {
  outline: 0;
  box-shadow: none;
  border: 1px solid #bcae00;
}
input[type=text]::placeholder,
input[type=password]::placeholder,
input[type=number]::placeholder,
input[type=email]::placeholder,
input[type=date]::placeholder,
input[type=time]::placeholder,
input[type=file]::placeholder,
.custom-file-input::placeholder,
.custom-file-label::placeholder,
textarea::placeholder,
select.custom-select::placeholder {
  font-family: "Roboto", sans-serif;
}
input[type=text]::-webkit-input-placeholder,
input[type=password]::-webkit-input-placeholder,
input[type=number]::-webkit-input-placeholder,
input[type=email]::-webkit-input-placeholder,
input[type=date]::-webkit-input-placeholder,
input[type=time]::-webkit-input-placeholder,
input[type=file]::-webkit-input-placeholder,
.custom-file-input::-webkit-input-placeholder,
.custom-file-label::-webkit-input-placeholder,
textarea::-webkit-input-placeholder,
select.custom-select::-webkit-input-placeholder {
  /* Edge */
  font-family: "Roboto", sans-serif;
}
input[type=text]:-ms-input-placeholder,
input[type=password]:-ms-input-placeholder,
input[type=number]:-ms-input-placeholder,
input[type=email]:-ms-input-placeholder,
input[type=date]:-ms-input-placeholder,
input[type=time]:-ms-input-placeholder,
input[type=file]:-ms-input-placeholder,
.custom-file-input:-ms-input-placeholder,
.custom-file-label:-ms-input-placeholder,
textarea:-ms-input-placeholder,
select.custom-select:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  font-family: "Roboto", sans-serif;
}

.list_style_0 li {
  list-style: none;
}

.radio_select_option + .dropdown-menu input.form-check-input {
  position: absolute;
  opacity: 0;
}
.radio_select_option + .dropdown-menu input.form-check-input + label {
  text-transform: uppercase;
}
.radio_select_option + .dropdown-menu input.form-check-input:checked + label {
  color: #bcae00;
  font-weight: 600;
}

.dropdown-item.active, .dropdown-item:active {
  color: #fff;
  text-decoration: none;
  background-color: #bcae00;
}

#main-nav {
  /*z-index: 10000;*/
}

.btn {
  border-radius: 3px;
  transition: all 300ms ease-in-out;
}
.btn:focus {
  box-shadow: none;
}

.text_decoration_underline_none:hover {
  text-decoration: none;
}

.text_link {
  color: #bcae00;
  transition: all 300ms ease-in-out;
}
.text_link:hover {
  color: #272502;
  text-decoration: none;
}

.notification_item {
  transition: all 300ms ease-in-out;
}
.notification_item > div {
  border: 1px solid #e5e5e5;
  transition: all 300ms ease-in-out;
}
.notification_item:hover > div {
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  border: none;
  transition: all 300ms ease-in-out;
}

.table-filter {
  /* .filt_option .default_link {
                  margin: 1em;
              } */
}
.table-filter .filter-tab {
  display: flex;
  align-items: center;
  list-style: none;
  position: relative;
  z-index: 100;
}
.table-filter .filter-tab li + li {
  margin-left: 2em;
}
.table-filter .filter-tab .filt_option.angle-down:after {
  content: "";
  font-size: 1.3rem;
  margin-left: 5px;
}
.table-filter .filter-tab .filt_option.angle-up:after {
  content: "";
  font-size: 1.3rem;
  margin-left: 5px;
}
.table-filter .filter-tab li .filt_dropdown {
  position: absolute;
  background-color: #ffffff;
  width: 100%;
  right: 0;
  left: 0;
}
.table-filter .filt_dropdown {
  transform: scaleY(0);
  opacity: 0;
  transition: all 300ms ease-in-out;
}
.table-filter .filter-tab li:hover .filt_dropdown {
  transform: scaleY(1);
  opacity: 1;
  margin-top: 0.7em;
}
.table-filter .filt_option {
  border: 1px solid #ccc;
  padding: 0.5em 0.7em;
}

.check {
  position: absolute;
  opacity: 0;
  top: -1000000px;
}
.check ~ label {
  display: flex;
  flex-wrap: wrap;
  cursor: pointer;
  margin: 0;
}
.check ~ label > .custom_check {
  --size: 1.2em;
  width: var(--size);
  height: var(--size);
  border: 0.6px solid #bcae00;
  border-radius: 3px;
  transform: scale(1);
  transition: transform 300ms ease-in-out;
  display: grid;
  place-content: center;
}
.check[type=checkbox]:checked + label .custom_check {
  background: #bcae00;
}
.check[type=checkbox]:checked + label .custom_check::before {
  content: "";
  color: #ffffff;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 0.6rem;
}
.check[type=radio]:checked + label .custom_check {
  background: #bcae00;
}
.check[type=radio]:checked + label .custom_check::before {
  content: "";
  color: #ffffff;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 0.6rem;
}

/*Custom form select dropdown*/
select.custom-select {
  /* remove default style from browsers */
  background-image: unset;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
}
select.custom-select option {
  margin: 5em;
  line-height: 2;
  font: inherit;
}
select.custom-select::after {
  content: "hhhhh";
}

select.custom-select.bankForm_first_page_control option {
  margin: 0;
}

/* Remove arrows from number controls */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  /* Firefox */
  -moz-appearance: textfield;
  /* Microsoft edge */
  -o-appearance: textfield;
}

.header {
  z-index: 10003;
}

.select_drop_wrapper {
  position: relative;
}
.select_drop_wrapper::after {
  font-family: "Font Awesome 5 Free";
  content: "";
  font-weight: 900;
  font-size: 20px;
  position: absolute;
  right: 0.5rem;
  color: #bcae00;
  pointer-events: none;
  bottom: 0.34em;
}

.chart-container {
  position: relative;
  margin: auto;
  height: auto;
  width: auto;
}

:root {
  --custSidenavWidth: 200px;
}

.sidebar {
  background-color: #ffffff;
  position: fixed;
  width: var(--custSidenavWidth);
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  padding: 90px 0 0;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.1);
}
.sidebar .sidebar-sticky {
  position: -webkit-sticky;
  position: sticky;
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: 0.5rem;
  overflow-x: hidden;
  overflow-y: auto;
}
.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}
.sidebar .nav-link.active, .sidebar .nav-link.active .icon, .sidebar .nav-link:hover, .sidebar .nav-link:hover {
  border-left: 2px solid #bcae00;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}
.sidebar .nav-link.active .icon, .sidebar .nav-link.active .icon .icon, .sidebar .nav-link:hover .icon, .sidebar .nav-link:hover .icon {
  border: none;
  color: #bcae00;
  box-shadow: none;
}

.hide-list-label .icon + span,
.hide-list-label .logout + span {
  transition: all 300ms ease-in-out;
  transform: translateX(-100%);
  transition: all 300ms ease-in-out;
  position: absolute;
  opacity: 0;
  display: none;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #999;
}

.overlay {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 40000;
}
.overlay.hide {
  display: none;
}

.modal_form {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 40001;
  transform: scaleX(1);
  transform-origin: right;
  transition: all 300ms ease-out;
}
.modal_form .inner {
  max-width: 500px;
  margin: 0 auto;
  margin-top: 10em;
}
.modal_form .inner .card {
  margin-left: 0.5em;
  margin-right: 0.5em;
}
.modal_form .inner .card .card-header {
  position: relative;
}
.modal_form .inner .card .card-header .cancel_modal_close_btn {
  position: absolute;
  right: 2em;
  bottom: 40%;
}
.modal_form.hide {
  transform: scaleX(0);
  transform-origin: left;
  transition: all 300ms ease-out;
}

#warantyField.hide {
  position: absolute;
  transform: scaleY(0);
  opacity: 0;
  transform-origin: bottom;
  transition: all 300ms ease-in-out;
}

#earnings_modal .modal_header {
  position: relative;
}
#earnings_modal .modal_header .cancel_modal_close_btn {
  position: absolute;
  right: 0;
  bottom: 40%;
}
#earnings_modal #firstPage_error_msg {
  transition: all 300ms ease-in-out;
}
#earnings_modal #firstPage_error_msg.hide {
  transform: translateX(0);
  position: absolute;
  opacity: 0;
  transition: all 300ms ease-in-out;
}

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

.feather-icon.md {
  width: 25px;
  height: 25px;
}

.feather-icon.lg {
  width: 30px;
  height: 30px;
}

main[role=main] {
  margin-left: var(--custSidenavWidth);
}

#registration_form_wrapper {
  max-width: 500px;
  margin: 0 auto;
}
#registration_form_wrapper .progress_bar {
  --width: 500px;
  max-width: var(--width);
}
#registration_form_wrapper .progress_bar .step {
  width: 100%;
}
#registration_form_wrapper .progress_bar .step:last-child .bullet::before, #registration_form_wrapper .progress_bar .step:last-child .bullet::after {
  display: none;
}
#registration_form_wrapper .progress_bar .step .bullet {
  position: relative;
  height: 25px;
  width: 25px;
  background-color: #c4c4c4;
  color: #ffffff;
  display: inline-block;
  border-radius: 50%;
  transition: 0.2s;
}
#registration_form_wrapper .progress_bar .step .bullet span {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#registration_form_wrapper .progress_bar .step .bullet.active {
  border-color: #dc3545;
  background-color: #dc3545;
  color: #ffffff;
}
#registration_form_wrapper .progress_bar .step .bullet.active::after {
  background-color: #dc3545;
  transform: scaleX(0);
  transform-origin: left;
  animation: animate 0.3s linear forwards;
}
#registration_form_wrapper .progress_bar .step .bullet::before, #registration_form_wrapper .progress_bar .step .bullet::after {
  position: absolute;
  content: "";
  bottom: 11px;
  right: calc(var(--width)-224px);
  height: 2px;
  width: calc(var(--width) - 280px);
  background-color: #c4c4c4;
}
@media (max-width: 490px) {
  #registration_form_wrapper .progress_bar {
    --width: 450px;
    max-width: var(--width);
  }
  #registration_form_wrapper .progress_bar .step .bullet::before, #registration_form_wrapper .progress_bar .step .bullet::after {
    right: calc(var(--width)-195px);
    width: calc(var(--width) - 264px);
  }
}
@media (max-width: 450px) {
  #registration_form_wrapper .step .bullet::before, #registration_form_wrapper .step .bullet::after {
    display: none;
  }
}
#registration_form_wrapper .inner {
  width: 100%;
  overflow-x: hidden;
}
#registration_form_wrapper .inner form {
  width: 200%;
}
#registration_form_wrapper .inner form .page {
  width: 50%;
  transition: all 0.3s ease-in-out;
}
#registration_form_wrapper .inner .email_error.hide,
#registration_form_wrapper .inner .pwd_error.hide,
#registration_form_wrapper .inner .file_upload_error.hide,
#registration_form_wrapper .inner .businessField_error.hide,
#registration_form_wrapper .inner .incorrect_email_error.hide {
  display: none;
}
#registration_form_wrapper .inner .file_upload_wrapper {
  --size: 130px;
}
#registration_form_wrapper .inner .file_upload_wrapper .file_btn_wrap {
  border: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#registration_form_wrapper .inner .file_upload_wrapper #docFile {
  position: absolute;
  opacity: 0;
}
#registration_form_wrapper .inner .file_upload_wrapper .file_btn,
#registration_form_wrapper .inner .file_upload_wrapper #pseudo_file {
  padding: 0.3em;
}
#registration_form_wrapper .inner .file_upload_wrapper .file_btn {
  width: var(--size);
  background-color: #f3f3f3;
  margin: 0;
  text-align: center;
  color: #bcae00;
}
#registration_form_wrapper .inner .file_upload_wrapper #pseudo_file {
  margin: 0;
  height: 100%;
  width: calc(100% - var(--size));
}

.anim_form .form_wrapper {
  position: relative;
  border: 1px solid #c4c4c4;
}
.anim_form .form_wrapper .form-control {
  border: 0;
  padding-top: 1em;
  transition: all 0.3s ease-in-out;
}
.anim_form .form_wrapper label {
  position: absolute;
  bottom: auto;
  top: 0;
  left: 0.6em;
  font-size: 0.6rem;
  color: #bcae00;
  transition: all 0.3s ease-in-out;
}
.anim_form .form_wrapper.sit label {
  top: unset;
  bottom: 0;
  font-size: 0.89rem;
  color: #202020;
}
.anim_form .form_wrapper.sit .form-control {
  padding-top: 0;
}
.anim_form #accountInfo_form_errorMsg.hide,
.anim_form #businessInfo_form_errorMsg.hide {
  display: none;
}

#login_page > .row {
  height: 90vh;
  overflow-y: auto;
}
#login_page .right_child {
  background-image: url("../assets/images/square-cart-banner.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
#login_page #login_form_wrapper {
  max-width: 500px;
  margin: 0 auto;
}

#register_success_page .inner {
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
#register_success_page .inner img {
  width: 150px;
}

#uploaded_products #product_sorter input[type=radio] {
  position: absolute;
  top: -100000px;
  opacity: 0;
}
#uploaded_products #product_sorter input[type=radio] + label {
  margin-right: 1em;
  border: 1px solid #c4c4c4;
  padding: 0.7em 1.2em;
  cursor: pointer;
  transition: all 300ms ease-in-out;
  border-radius: 3px;
}
#uploaded_products #product_sorter input[type=radio] + label:hover {
  background-color: #bcae00;
  color: #ffffff;
  border: 1px solid #ffffff;
}
#uploaded_products #product_sorter input[type=radio]:checked + label {
  background-color: #bcae00;
  color: #ffffff;
  border: 1px solid #ffffff;
}

table #prod_name {
  min-width: 150px;
}
table #prod_qty {
  min-width: 50px;
}
table #prod_price {
  min-width: 80px;
}
table #prod_status {
  min-width: 80px;
}
table #status {
  min-width: 60px;
}
table #prod_name_img {
  min-width: 200px;
}

#orders_page #order_number, #orders_page #order_deliver_status {
  min-width: 200px;
}
#orders_page #order_date, #orders_page #order_price {
  min-width: 90px;
}

#earnings #earnings_modal .inner_wrapper {
  width: 100%;
}
#earnings #earnings_modal .inner_wrapper > div {
  overflow-x: hidden;
  width: 100%;
}
#earnings #earnings_modal .inner_wrapper > div form {
  width: 200%;
}
#earnings #earnings_modal .inner_wrapper > div form .form_section {
  width: 50%;
}

/*# sourceMappingURL=main.css.map */
